<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pineapplez.pitengineer">

    <application
        android:allowBackup="false"
        android:icon="@drawable/pit_engineer_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pit_engineer_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuestionActivity">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"></activity>
    </application>

</manifest>